<div class="comments">
  {{#each this}}
  <div class="col s12 m7 comment">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{user.username}}</h5>
          <p class="orange-text"><strong>Created on {{format_date created_at}}</strong></p>
          <p>{{comment_text}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>