<form class="login-form">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Email" id="email-login" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Password" id="password-login" type="password" class="validate">
    </div>
  </div>
  <div class="row">
    <a type="submit" class="btn-large waves-effect waves-light orange lighten-1">Login</a>
  </div>
</form>

<form class="signup-form">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Username" id="username-signup" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Email" id="email-signup" type="text" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Password" id="password-signup" type="password" class="validate">
    </div>
  </div>
  <div class="row">
    <a type="submit" class="btn-large waves-effect waves-light orange lighten-1">Sign Up</a>
  </div>
</form>

<script src="/javascript/login.js"></script>